# editor
.DS_Store
node_modules
/dist

# local env files
**/.env
**/.env.development
**/.env.production
.env
.env.development
.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 모든 node_modules 폴더를 무시합니다.
**/node_modules/

